/* SCREEN READER ONLY */
.sr-only {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
  width: 1px;
}

/* BUTTON STYLING */
.menu-toggle {
  color: #333;
  display: inline-block;
  font-size: 1em;
  line-height: 1em;
  padding: .75em 15px;
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: #c00;
}

/* DEFAULT STYLES + MOBILE FIRST OFFSCREEN MENU STYLE */
.main-menu {
  display: none;
  height: 100%;
  left: -200px;
  overflow-x: visible;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  transition: left 0.3s ease,
              box-shadow 0.3s ease;
  z-index: 999;
}

.main-menu ul {
  background: #1a1a1a;
  /* Hide shadow w/ -8px while 'closed' */
  -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
     -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
  box-shadow: -8px 0 8px rgba(0,0,0,.5);
  list-style: none;
  margin: 0;
  min-height: 100%;
  padding: 2.5em 0 0;
  width: 200px;
}

.main-menu a {
  border-bottom: 1px solid #383838;
  color: #fff;
  display: block;
  font-size: 1em;
  line-height: 1em;
  padding: .75em 15px;
  text-decoration: none;
}

.main-menu li:first-child a {
  border-top: 1px solid #383838;
}

.main-menu a:hover,
.main-menu a:focus {
  background: #333;
  text-decoration: underline;
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
}

/* ON SMALL DEVICES, ALLOW TO TOGGLE... */
/* :TARGET FOR NON-JS */
/* [ARIA-EXPANDED] WILL BE USED IF/WHEN JS IS ADDED TO IMPROVE INTERACTION, OPTIONAL */
.main-menu:target,
.main-menu[aria-expanded="true"] {
  -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  box-shadow: 3px 0 12px rgba(0,0,0,.25);
  display: block;
  left: 0;
  outline: none;

}

.main-menu:target .manu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

/*
 We could us `.main-menu:target:after`, but
 it wouldn't be clickable.
*/
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop{
  background: #000;
  background: rgba(0,0,0,.85);
  cursor: default;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 998;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop{
    position: fixed;
  }
}

/*
 Larger screen styling
 Horizontal menu
*/
@media (min-width: 768px) {
  .menu-toggle,
  .main-menu .menu-close {
    display: none;
  }

  /* Undo positioning of off-canvas menu */
  .main-menu {
    display: block;
    height: auto;
		left: auto;
    position: relative;
    top: auto;
  }

  .main-menu ul {
    /* Undo off-canvas styling */
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
    box-shadow: none;
    background: none;
    display: flex;
    height: auto;
    padding: 0;
    width: auto;
  }

  .main-menu a {
    border: 0 !important; /* Remove borders from off-canvas styling */
    color: #06c;
  }

  .main-menu a:hover,
  .main-menu a:focus {
    background: none; /* Remove background from off-canvas styling */
    color: #c00;
  }
}






















/* HEADER STYLES */

/* MOBILE MENU */
/* .mobile-menu-check,
.show-mobile-menu {
  display: none;
}


@media (max-width: 800px) {

  /* HEADER STYLES */

  /* MOBILE MENU */
  /* .show-mobile-menu { */

  /* }
/* } */
