<footer class="site-footer">
  <div class="content">

    <div class="footer-section">
      <h3 class="footer-section__heading title">Adres</h3>
      <p>Wedinkerf 9A</p>
      <p>6961 MT Eerbeek</p>
    </div>

    <div class="footer-section">
      <h3 class="footer-section__heading title">Sociale netwerken</h3>
      <ul class="social-list">
        {% include social-links.html %}
      </ul>
    </div>

    <div class="footer-section">
      <h3 class="footer-section__heading title">KvK-gegevens</h3>
      <p>KvK nr. 56726155</p>
    </div>

  </div>

  <div class="copyright">
    <p class="copyright__txt">Copyright &copy; HopHop Webdesign 2016-2019</p>
  </div>
</footer>

<!-- Scroll to Top Button (Only visible on small screen sizes) -->
<!-- <div class="scroll-top page-scroll visible-sm">
    <a class="scrol-top__btn invisible" href="#page-top" id="js-top">
        <i class="fas fa-angle-double-up"></i>
        <span class="sr-only">Back to top</span>
    </a>
</div> -->
