<!-- Navigation -->
<header id="js-scroll" class="site-header wrapper--grid js-page-scrol">

    <a href="#page-top" class="logo"> <!-- body id! -->
      <div class="sr-only">Logo HopHop Webdesign</div>
      <img class="logo__img" alt="HopHop Webdesign" src="img/brand.png">
    </a>

    <div class="menu__button" aria-label="Open hoofdmenu">
      <span class="sr-only">Open hoofdmenu</span>
      <i class="fas fa-bars" aria-hidden="true"></i>
    </div>

    <nav class="menu wrapper--flex">


      <ul class="menu__items wrapper--flex">
        {% include nav-links.html %}
      </ul>
    </nav>

</header>
