<header class="header">

  <div class="logo">
    <a href="#page-top"> <!-- body id! -->
      <div class="sr-only">Logo HopHop Webdesign</div>
      <img class="image-responsive" alt="HopHop Webdesign" src="img/brand.png">
    </a>
  </div>

  <a id="mobile-menu-toggle"
     class="mobile-menu-toggle"
     href="#main-nav"
     aria-label="Open hoofdmenu">
     <span class="sr-only">Open hoofdmenu</span>
    <i class="fas fa-bars" aria-hidden="true"></i>
  </a>

  <nav id="main-nav" class="main-nav" aria-label="Hoofdmenu">
    <a id="mobile-menu-close"
       class="mobile-menu-close"
       href="#mobile-menu-toggle"
       aria-label="Sluit hoofdmenu">
       <span class="sr-only">Sluit hoofdmenu</span>
      <i class="fas fa-window-close" aria-hidden="true"></i>
    </a>

    <ul class="header-nav nav-links">
      {% include nav-links.html %}
    </ul>
  </nav>
  <a href="#mobile-menu-toggle"
     class="backdrop"
     tabindex="-1"
     aria-hidden="true" hidden></a>
</header>
