<!-- Portfolio container -->
<div class="content portfolio-items">

  <!-- Portfolio item 1 -->
  <div class="portfolio-item">
    <a href="#portfolioModal1" class="portfolio-item__link">
      <div class="caption">
        <div class="caption__content">
          <i class="fas fa-search-plus"></i>
        </div>
      </div>
      <img src="img/portfolio/portfolio1.png" class="img-responsive" alt="RSI-Vereniging">
    </a>

    <!-- Portfolio modal 1 -->
    <div class="portfolio-modal container" id="portfolioModal1" tabindex="-1" aria-hidden="true">
      <button class="modal-close">
        <i class="fas fa-times"></i>
      </button>

      <h2 class="title title--modal">Website banners</h2>
      <ul class="modal__info">
        <li>Klant: <span>RSI-Vereniging</span></li>
        <li>Datum: <span>april 2016</span></li>
        <li>Service: <span>grafisch ontwerp</span></li>
      </ul>

      <div class="modal__img-container">
        <img src="img/portfolio/banner_coach2.jpg" class="img-responsive" alt="RSI-Vereniging">
        <img src="img/portfolio/bannerbel.jpg" class="img-responsive" alt="RSI-Vereniging">
        <img src="img/portfolio/portfolio1.2.jpg" class="img-responsive" alt="RSI-Vereniging">
      </div>
      <article class="single-txt">
        <p class="article__txt">Naar mijn idee moet een goede banner niet alleen opvallen, maar ook direct een duidelijke boodschap verkondigen. De uitdaging is om dit ook nog op een zeer kleine ruimte te realiseren. Zo’n banner is al best klein als je het op een groot scherm bekijkt, en is nog kleiner als je een tablet of smartphone gebruikt. Dus ja, wil je iets vertellen - maak het groot, zo groot mogelijk.</p>
        <p class="article__txt">Omdat het hier om een sociale dienstverlening gaat, heb ik gekozen om een menselijk gezicht in beeld te brengen. Vervolgens de boodschap met een handgeschreven lettertype om weer het ‘menselijke’ te benadrukken.</p>
        <p class="article__txt">Om de boodschap meer duidelijkheid en gewicht te geven zijn bovenaan de logo’s van de direct betrokken organisaties geplaatst. Uiteraard, door het klikken op de banner kom je op een pagina met gedetailleerde informatie. Dat is het mooie van het web. De banner is stap één. Je hoeft hier niet alles te vertellen - wel het belangrijkste.</p>
      </article>
    </div><!-- End modal 1 -->
  </div><!-- End portfolio item 1 -->


  <!-- Portfolio item 2 -->
  <div class="portfolio-item">
    <a href="#portfolioModal2" class="portfolio-item__link">
      <div class="caption">
        <div class="caption__content">
          <i class="fas fa-search-plus"></i>
        </div>
      </div>
      <img src="img/portfolio/portfolio2.png" class="img-responsive" alt="HopHop Webdesign">
    </a>

    <!-- Portfolio modal 2 -->
    <div class="portfolio-modal container" id="portfolioModal2" tabindex="-1" aria-hidden="true">
      <button class="modal-close">
        <i class="fas fa-times"></i>
      </button>

      <h2 class="title title--modal">Brand identity en website</h2>
      <ul class="modal__info">
        <li>Klant: <span>HopHop Webdesign</span></li>
        <li>Datum: <span>juli 2016</span></li>
        <li>Service: <span>grafisch ontwerp, webdevelopment, contentadvies</span></li>
      </ul>

      <div class="modal__img-container">
        <img src="img/portfolio/logo550.png" class="img-responsive" alt="HopHop Webdesign">
      </div>
      <article class="single-txt">
        <p class="article__txt">Schoenmaker zonder schoenen? Dat kan, als die maar een eigen website heeft :-) . Het is dan ook duidelijk dat een webdesigner zonder website het moeilijk krijgt. Een bijzondere ervaring, een leuke en lastige klus - het ontwerpen van een visuele identiteit voor je eigen zaak.</p>
        <p class="article__txt">Het ontwerpen van een logo vraagt naar mijn idee het maximale van je creativiteit. De hop - is een bijzondere vogel met zeer herkenbare trekken, erg mooi en kleurrijk. Helemaal als die op zijn best is, met een opgezette kuif. Dat is wat ik ook met mijn ontwerpen wil zijn - mooi en bijzonder. Dus ja, de hop zit in mijn logo, is mijn logo.</p>
        <p class="article__txt">De website is bedoeld om een snelle indruk te geven van wat ik doe en wie ik ben. Het is eigenlijk een zogenaamde singlepage portfoliosite - simpel en overzichtelijk. Je kunt er op twee manieren navigeren: door te scrollen of via het menu bovenaan. Natuurlijk is de website ook prima te bekijken zowel op een zeer groot als op een klein scherm.</p>
      </article>
    </div><!-- End modal 2 -->
  </div><!-- End portfolio item 2 -->


  <!-- Portfolio item 3 -->
  <div class="portfolio-item">
    <a href="#portfolioModal3" class="portfolio-item__link">
      <div class="caption">
        <div class="caption__content">
          <i class="fas fa-search-plus"></i>
        </div>
      </div>
      <img src="img/portfolio/portfolio42.png" class="img-responsive" alt="RSI-Vereniging">
    </a>

    <!-- Portfolio modal 3 -->
    <div class="portfolio-modal container" id="portfolioModal3" tabindex="-1" aria-hidden="true">
      <button class="modal-close">
        <i class="fas fa-times"></i>
      </button>

      <h2 class="title title--modal">Restyling website</h2>
      <ul class="modal__info">
        <li>Klant: <span>RSI-Vereniging</span></li>
        <li>Datum: <span>september 2014</span></li>
        <li>Service: <span>grafisch ontwerp, contentadvies</span></li>
      </ul>

      <div class="modal__img-container">
        <img src="img/portfolio/portfolio3.jpg" class="img-responsive" alt="RSI-Vereniging">
      </div>
      <article class="single-txt">
        <p class="article__txt">Met restylen ben je op zoek naar een nieuwe uitstraling, maar wil je belangrijke kenmerken behouden. Vaak heeft dit te maken met een nieuwe doelgroep, of nieuwe producten, of de veranderingen binnen de organisatie zelf.</p>
        <p class="article__txt">In het geval van de RSI-Vereniging gaat het om een veranderende doelgroep, die steeds maar jonger wordt. Ook zijn er een aantal veranderingen binnen en buiten de organisatie die grote invloed hebben gehad op de structuur en het functioneren van de vereniging. En natuurlijk, moet de website ook gewoon een moderne look hebben. Wat vijf jaar geleden ok was, ziet er nu oubollig uit.</p>
        <p class="article__txt">De site is zeer informatief en bevat veel content in de vorm van tekst. Om de leesbaarheid te vergroten is er gekozen voor een lichte achtergrond met veel ‘witte ruimte’. Ook de afbeeldingen hebben een lichte achtergrond en een positieve uitstraling. Wat bewaard is gebleven, is bijvoorbeeld een herkenbaar lettertype, maar ook het logo. De kleurenpalet is licht aangepast: van ‘retro’ paars naar wat strakker donkerblauw, met een contrasterende warme oranje kleur en wit als achtergrond.</p>
      </article>
    </div><!-- End modal 3 -->
  </div><!-- End portfolio item 3 -->


  <!-- Portfolio item 4 -->
  <div class="portfolio-item">
    <a href="#portfolioModal4" class="portfolio-item__link">
      <div class="caption">
        <div class="caption__content">
          <i class="fas fa-search-plus"></i>
        </div>
      </div>
      <img src="img/portfolio/portfolio39.1.png" class="img-responsive" alt="Homeopathie Apeldoorn">
    </a>

    <!-- Portfolio modal 4 -->
    <div class="portfolio-modal container" id="portfolioModal4" tabindex="-1" aria-hidden="true">
      <button class="modal-close">
        <i class="fas fa-times"></i>
      </button>

      <h2 class="title title--modal">Website met CMS (WordPress)</h2>
      <ul class="modal__info">
        <li>Klant: <span>Henk van Munster</span></li>
        <li>Datum: <span>oktober 2017</span></li>
        <li>Service: <span>grafisch ontwerp, webdevelopment</span></li>
      </ul>

      <div class="modal__img-container">
        <img src="img/portfolio/portfolio4.jpg" class="img-responsive" alt="Homeopathie Apeldoorn">
      </div>
      <article class="single-txt">
        <p class="article__txt">Een Content Management Systeem (CMS) is speciale software die het eenvoudig maakt om de inhoud (content) van je website te beheren. Je hoeft geen kennis te hebben van de code waarmee je site is opgebouwd. Teksten, links of afbeeldingen pas je snel en simpel aan via het controlepaneel.</p>
        <p class="article__txt">Homeopathie Apeldoorn maakt gebruik van WordPress (WP) - het meest populair CMS in de wereld. Het is geliefd om zijn gebruikersgemak en uitbreidingsmogelijkheden. Door middel van kleine ‘programmaatjes’ (plug-ins) kun je verschillende functionaliteiten toevoegen aan je site. Denk aan een contactformulier of een nieuwsbrief bijvoorbeeld.</p>
        <p class="article__txt">Deze site heb ik gebouwd met behulp van Genesis - een WP-framework dat bedoeld is o.a. om het werk van een developer te versnellen. De site kenmerkt zich door een overzichtelijke navigatie en mooie afbeeldingen. Ook op een kleine scherm is de site even toegankelijk. Het uiterlijk van de site en het logo zijn insgelijks door mij ontworpen.</p>
      </article>
    </div><!-- End modal 4 -->
  </div><!-- End portfolio item 4 -->

</div><!-- End portfolio-items -->
