<!-- Portfolio container -->
<div class="content portfolio-items">

  <!-- Portfolio item 1 -->
  <div class="portfolio-item">
    <a href="#portfolioModal1" class="portfolio-item__link">
      <div class="caption">
        <div class="caption__content">
          <i class="fas fa-search-plus"></i>
        </div>
      </div>
      <img src="img/portfolio/portfolio1.png" class="img-responsive" alt="RSI-Vereniging">
    </a>

    <!-- Portfolio modal 1 -->
    <div class="portfolio-modal container" id="portfolioModal1" tabindex="-1" aria-hidden="true">
      <button class="modal-close">
        <i class="fas fa-times"></i>
      </button>

      <h2 class="title title--modal">Website banners</h2>
      <ul class="modal__info">
        <li>Klant: <span>RSI-Vereniging</span></li>
        <li>Datum: <span>april 2016</span></li>
        <li>Service: <span>grafisch ontwerp</span></li>
      </ul>

      <div class="modal__img-container">
        <img src="img/portfolio/banner_coach2.jpg" class="img-responsive" alt="RSI-Vereniging">
        <img src="img/portfolio/bannerbel.jpg" class="img-responsive" alt="RSI-Vereniging">
        <img src="img/portfolio/portfolio1.2.jpg" class="img-responsive" alt="RSI-Vereniging">
      </div>
      <article class="single-txt">
        <p class="article__txt">Naar mijn idee moet een goede banner niet alleen opvallen, maar ook direct een duidelijke boodschap verkondigen. De uitdaging is om dit ook nog op een zeer kleine ruimte te realiseren. Zo’n banner is al best klein als je het op een groot scherm bekijkt, en is nog kleiner als je een tablet of smartphone gebruikt. Dus ja, wil je iets vertellen - maak het groot, zo groot mogelijk.</p>
        <p class="article__txt">Omdat het hier om een sociale dienstverlening gaat, heb ik gekozen om een menselijk gezicht in beeld te brengen. Vervolgens de boodschap met een handgeschreven lettertype om weer het ‘menselijke’ te benadrukken.</p>
        <p class="article__txt">Om de boodschap meer duidelijkheid en gewicht te geven zijn bovenaan de logo’s van de direct betrokken organisaties geplaatst. Uiteraard, door het klikken op de banner kom je op een pagina met gedetailleerde informatie. Dat is het mooie van het web. De banner is stap één. Je hoeft hier niet alles te vertellen - wel het belangrijkste.</p>
      </article>
    </div><!-- End modal 1 -->

  </div><!-- End portfolio item 1 -->

  <!-- Portfolio item 2 -->
  <div class="portfolio-item">
    <a href="#" class="portfolio-item__link" data-toggle="modal">
      <div class="caption">
        <div class="caption__content">
          <i class="fas fa-search-plus"></i>
        </div>
      </div>
      <img src="img/portfolio/portfolio2.png" class="img-responsive" alt="HopHop Webdesign">
    </a>
  </div>

  <!-- Portfolio item 3 -->
  <div class="portfolio-item">
    <a href="#" class="portfolio-item__link" data-toggle="modal">
      <div class="caption">
        <div class="caption__content">
          <i class="fas fa-search-plus"></i>
        </div>
      </div>
      <img src="img/portfolio/portfolio42.png" class="img-responsive" alt="RSI-Vereniging">
    </a>
  </div>

  <!-- Portfolio item 4 -->
  <div class="portfolio-item">
    <a href="#" class="portfolio-item__link" data-toggle="modal">
      <div class="caption">
        <div class="caption__content">
          <i class="fas fa-search-plus"></i>
        </div>
      </div>
      <img src="img/portfolio/portfolio39.1.png" class="img-responsive" alt="Homeopathie Apeldoorn">
    </a>
  </div>

</div>
