/*------------------------------------------*\
#GLOBAL-SYLES
\*------------------------------------------*/

html {
    font-size: 8px; /* Basis for rem units */
}

body {
    font-size: 2rem; /* Basis for em units */
}

p {
  font-family: var(--font-body);
  font-weight: 500;
}

.content-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 14vh;
  width: 100%;
}


/*------------------------------------------*\
#HEADER
\*------------------------------------------*/

.site-header {
  background-color: var(--black);
  color: var(--white);
  left: 0;
  padding: 3vh;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 1030;
}

.wrapper--flex {
  align-items: center;
  display: flex;
}

.wrapper--grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.logo--white {
  color: inherit;
}

.logo__img {
  border: 1px solid;
  height: 8vh;
  padding-left: 20px;
}

.menu {
  grid-column: 2 / -1;
}

.menu__item {
  list-style: none;
}

@media (max-width: 47.5em) {
  .menu__item {
    display: block;
  }
}

.menu__link {
  color: inherit;
  letter-spacing: 2px;
  padding: 10px 20px;
  text-decoration: none;
}


@media (min-width: 47.5em) { /* 760px */
  .menu__button {
    display: none;
  }
}

/*------------------------------------------*\
#HOME-SECTIONS
\*------------------------------------------*/

.home { /* section */
  background-size: cover;
  min-height: 100vh;
  padding-top: 14vh; /* on scrol distance from header */
}

.home--1 {
  background-color: var(--color-1);
  display: grid;
  min-height: 86vh; /* min header to calc center */
  padding-top: 0;
  place-items: center;
}

.home__container { /* div */
  padding: 0 3vh;
}

.home__heading {
  font-size: 2.5em;
  padding: 1em;
  text-align: center;

  @media (max-width: 47.5em) {
    font-size: 2em;
  }
}

/*-----------------2-------------------------*/
.content {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
  flex-wrap: wrap;

  @media (max-width: 50em) {
    display: block;
    width: 100%;
  }
}

.article {
  border: 2px solid var(--color-1-dark);
  flex: 1 1 350px;
  max-width: 400px;
  padding: 3rem;
  text-align: center;
  margin: 2rem;

  @media (max-width: 50em) {
    width: inherit;
    margin: 4rem auto;
  }
}

.article__heading {
  color: var(--color-1-dark);
  font-family: var(--font-sub-heading);
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 1.5px;
  padding: 1em;
  text-decoration: underline;
  text-transform: uppercase;
  white-space: nowrap;

  @media (max-width: 50em) {
    font-size: 1em;
  }
}

.article__icon {
  height: 8vh;
  margin-bottom: 2rem;
}

.article__txt {
  line-height: 1.6;
  padding: 1.5rem;
}

/*-----------------3-------------------------*/
.home--3 {
  background-color: var(--color-2);
}

.home--3 .home__heading {
  color: var(--white);
}

.portfolio-item {
  flex: 1 0 95rem;
  margin: 4rem;
  max-width: 50rem; /* 400px */

  @media (max-width: 50em) {
    display: block;
    margin: 4rem auto;
  }
}

.portfolio-item__link {
  display: block;
  margin: 0 auto;
  max-width: 400px;
  position: relative;
}

.caption {
  -moz-transition: all ease .5s;
  -webkit-transition: all ease .5s;
  background: rgba(255,132,124,.9);
  height: 100%;
  opacity: 0;
  position: absolute;
  transition: all ease .5s;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    opacity: 1;
  }
}

.caption__content {
  font-size: 5em;
  color: var(--white);
}

/*-----------------4-------------------------*/
