/*------------------------------------------*\
#HEADER
\*------------------------------------------*/

.site-header {
  background-color: var(--black);
  color: var(--white);
  left: 0;
  padding: 3vh;
  position: fixed;
  right: 0;
  z-index: 1030;
}

.wrapper--flex {
  align-items: center;
  display: flex;
}

.wrapper--grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.logo--white {
  color: inherit;
}

.logo__img {
  border: 1px solid;
  height: 8vh;
  padding-left: 20px;
}

.menu {
  grid-column: 2 / -1;
}

// .menu__items {
//
// }

.menu__item {
  list-style: none;
}

.menu__link {
  color: inherit;
  letter-spacing: 2px;
  padding: 10px 20px;
  text-decoration: none;
}


@media (min-width: 768px) {
  // .site-header {
  //   padding: ;
  // }

  .menu__button {
    display: none;
  }
}
