:root {
  --font-nav: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  --font-body: 'Raleway', sans-serif;
  --font-sub-heading: 'Source Sans Pro', sans-serif;

  //borders
  --border-thick: 2px solid var(--color-1-dark);
  --border-thick-green: 2px solid var(--color-2);
  --border-thin:  1px solid #eee;

}
