/* SCREEN READER ONLY */
.sr-only {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
  width: 1px;
}

// Bootstrap https://getbootstrap.com/docs/3.4/css/#helper-classes
.show      { display: block !important; }
.hidden    { display: none !important; }
.visible   { visibility: visible;}
.invisible { visibility: hidden; }


/* HEADINGS AND MENU ITEMS */
.h-txt {
  font-family: var(--font-nav);
  font-weight: 700;
  text-transform: uppercase;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}
